body {
  padding: 25px;
  font-family: 'Karla', sans-serif;
  background-color: #ebeff2;
}

.rc-background-login {
  background: url("/images/a75fdcab110ae11f155ed96f428a86ae.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  opacity: 1;
  position: absolute;
  top:0;
  left:0;
  min-width: 100%;
  min-height: 100%;
}

.rc-login-button {
  border-radius: 15px;
  font-size: 15px;
  background-color: #F9690E;
}

.rc-margin {
  margin-right: 10px;
  margin-left: 10px;
}

.rc-login-top-margin {
  margin-top: 5%;
}

.rc-register-top-margin {
  margin-top: 2%;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.highcharts-tooltip h3 {
  margin: 0.3em 0;
}

.rc-white-font {
  color: white;
}

#goJsStateMachine {
  height: 500px;
  width: auto;
}

.rc-black-navbar {
  background-color: black;
  opacity: 0.8;
}

.rc-bottom-margin {
  margin-bottom: 2%;
}

.rc-top-margin {
  margin-top: 3%;
}

.wbdv-font-color-white {
  color: white;
}

/* Build Docker */
.page-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0px;
  margin-top: 0px;
  line-height: 70px;  
}

.section-title {
  font-size: 18px;
  font-weight: 500;
}

.header-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  padding: 15px 20px;
  margin: 0;
}

.card-box {
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-clip: padding-box;
  margin-bottom: 20px;
  background-color: #ffffff;
}

.m-b-30 {
  margin-bottom: 30px !important;
}

.fullWidth {
  width: 100%;
}