body {
  font-family: 'Karla', sans-serif;
  background-color: #ebeff2;
}

*:focus {
  outline: none !important;
  text-decoration: none;
}

.rc-background-login {
  background: url("/images/a75fdcab110ae11f155ed96f428a86ae.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  opacity: 1;
  position: absolute;
  top:0;
  left:0;
  min-width: 100%;
  min-height: 100%;
}

.rc-login-button {
  border-radius: 15px;
  font-size: 15px;
  background-color: #F9690E;
}

.rc-margin {
  margin-right: 10px;
  margin-left: 10px;
}

.rc-login-top-margin {
  margin-top: 5%;
}

.rc-register-top-margin {
  margin-top: 2%;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.highcharts-tooltip h3 {
  margin: 0.3em 0;
}

.rc-white-font {
  color: white;
}

#goJsStateMachine {
  height: 500px;
  width: auto;
}

.rc-black-navbar {
  background-color: black;
  opacity: 0.8;
}

.rc-bottom-margin {
  margin-bottom: 2%;
}

.rc-top-margin {
  margin-top: 3%;
}

.wbdv-font-color-white {
  color: white;
}

/* Build Docker */
.page-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0px;
  margin-top: 0px;
  line-height: 70px;  
}

.section-title {
  font-size: 18px;
  font-weight: 500;
}

.header-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  padding: 15px 20px;
  margin: 0;
}

.card-box {
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-clip: padding-box;
  margin-bottom: 20px;
  background-color: #ffffff;
}

.m-b-30 {
  margin-bottom: 30px !important;
}

.fullWidth {
  width: 100%;
}

.form-grp {
  margin-bottom: 10px;
}

.btn-bordred.btn-success {
  border-bottom: 2px solid #0da357 !important;
}

.btn-bordred.btn-primary {
  border-bottom: 2px solid #1576c2 !important;
}

.addSection {
  padding: 15px 0 10px;
}

.btn {
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#addNewBtn span {
  padding-right: 10px;
}

#addNewBtn .fa {
  position: relative;
  top: 1px;
}

#addNewBtn.collapsed .fa-plus:before {
  content: "\f067";
}

#addNewBtn .fa-plus:before {
  content: "\f068";
}

.checkbox input[type="checkbox"] {
  margin-left: 0;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  outline: none !important;
}

input, textarea, label {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

input[type="checkbox"]:checked + label::before {
  background-color: #188ae2;
  border-color: #188ae2;
}

.checkbox label::before {
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #cccccc;
  content: "";
  display: inline-block;
  height: 17px;
  left: 0;
  position: absolute;
  transition: 0.3s ease-in-out;
  width: 17px;
  outline: none !important;
}

input[type="checkbox"]:checked + label::after {
  color: #ffffff;
}

.checkbox input[type="checkbox"]:checked + label::after {
  content: "\f00c";
  font-family: 'FontAwesome';
}

.checkbox label::after {
  color: #555555;
  display: inline-block;
  font-size: 11px;
  height: 16px;
  left: 0;
  padding-left: 3px;
  padding-top: 1px;
  position: absolute;
  top: 0;
  width: 16px;
}

.radio label, .checkbox label {
  padding-left: 25px;
}

#uploadFile {
  width: 85%;
  float: left;
  border-radius: 0;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 0;
  border-radius: 0;
  width: 15%;
  border-radius: 0;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.alignCenter {
  text-align: center;
}

/* Header */
#topnav {
  position: fixed;
  background-color: #435966;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;
  border: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
  padding: 0 25px;
}

.logo {
  padding: 25px 0;
}

.logo a {
  font-family: 'Rancho', cursive;
  color: #fff;
  font-size: 32px;
  line-height: 32px;
}
.logo a span {
  color: #10c469 !important;
}

.buildDockerPage {
  padding: 0 25px;
  padding-top: 80px;
}

.logout {
  text-align: right;
  padding: 20px 0;
}

.logout a {
  font-size: 35px;
  line-height: 41px;
  color: #fff;
  position: relative;
  top: 2px;
}

footer {
  border-top: 1px solid rgba(67, 89, 102, 0.1);
  color: #58666e;
  text-align: left !important;
}

.topFooter {
  padding: 20px 25px;
  background-color: #fff;
  text-align: center;
}

.topFooter a {
  color: #435966;
  padding: 0 10px;
  font-size: 16px;
  line-height: 24px;
}

.topFooter a:hover {
  color: #71b6f9 !important;
}

.bottomFooter {
  padding: 20px 25px;
  background-color: #435966;
  text-align: center;
  color: #fff;
}

.bottomFooter a {
  color: #fff;
  padding: 0 10px;
  font-size: 14px;
  line-height: 20px;
}

.bottomFooter a:hover {
  color: #71b6f9 !important;
}

.ng-scope:after {
  content: "";
  display: table;
  clear: both;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}