<h2>
    Build Docker
</h2>

<div class="col-md-12">
	<form action="" method="post" id="buildDockerForm" enctype="multipart/form-data">
		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-default">
			        <div class="panel-heading">
			            Python 2.7
			        </div>
			        <div class="panel-body">
			        	<div class="checkbox" ng-repeat="x in model.py27">
			                <label>
			                	<input type="checkbox" ng-model="model.folder1[x.name]" value="x.name">{{x.name}}
			                </label>
			            </div>
			        </div>
			    </div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
			        <div class="panel-heading">
			            Python 3.5
			        </div>
			        <div class="panel-body">
			        	<div class="checkbox" ng-repeat="y in model.py35">
			        		<label>
			                	<input type="checkbox" ng-model="model.folder2[y.name]" value="y.name">{{y.name}}
			                </label>
			            </div>
			        </div>
			    </div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
			        <div class="panel-heading">
			            R
			        </div>
			        <div class="panel-body">
			        	<div class="checkbox" ng-repeat="z in model.r">
			        		<label>
			                	<input type="checkbox" ng-model="model.folder3[z.name]" value="z.name">{{z.name}}
			                </label>
			            </div>
			        </div>
			    </div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default">
			        <div class="panel-heading">
			            Additional installations
			        </div>
			        <div class="panel-body">
			        	<div class="form-grp">
			            	<label>Git Repository URL</label>
			            	<div class="input-group">
			                	<input type="text" name="gitRepo[]" class="form-control" placeholder="Git Repo...">
			                	<span class="input-group-btn">
			                		<button class="btn btn-secondary addRepo" type="button"><i class="fa fa-plus" aria-hidden="true"></i></button>
			                	</span>
			            	</div>
			            </div>
			            <br/>
			            <div class="form-grp hide" id="gitRepoTemplate">
			            	<label>Git Repository URL</label>
			            	<div class="input-group">
			                	<input type="text" name="gitRepo[]" class="form-control" placeholder="Git Repo...">
			                	<span class="input-group-btn">
			                		<button class="btn btn-secondary removeRepo" type="button"><i class="fa fa-minus" aria-hidden="true"></i></button>
			                	</span>
			            	</div>
			            </div>
			            <br/>
			            <div class="form-grp">
			            	<label>Apt Get</label>
			            	<div class="input-group">
			                	<input type="text" name="aptget[]" class="form-control" placeholder="Package Name">
			                	<span class="input-group-btn">
			                		<button class="btn btn-secondary addAptget" type="button"><i class="fa fa-plus" aria-hidden="true"></i></button>
			                	</span>
			            	</div>
			            </div>
			            <br/>
			            <div class="form-grp hide" id="aptgetTemplate">
			            	<label>Apt Get</label>
			            	<div class="input-group">
			                	<input type="text" name="aptget[]" class="form-control" placeholder="Package Name">
			                	<span class="input-group-btn">
			                		<button class="btn btn-secondary removeAptget" type="button"><i class="fa fa-minus" aria-hidden="true"></i></button>
			                	</span>
			            	</div>
			            </div>
			        </div>
			    </div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-default">
			        <div class="panel-heading">
			            Datasets Upload
			        </div>
			        <div class="panel-body">
			        	<input type="file" ng-model="files" multiple/>
         				<!-- <button ng-click = "uploadFile()">upload me</button> -->
			        </div>
			    </div>
			    <div class="panel panel-default">
			        <div class="panel-heading">
			            Package Selection File
			        </div>			        
			        <div class="panel-body">
			        	<p>Upload a CSV or JSON file to specify the packages to include in the Docker Image.</p>
			        	<input type="file" ng-model="file"/>
         				<!-- <button ng-click = "uploadFile()">upload me</button> -->
			        </div>
			    </div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5"></div>
			<div class="col-md-2">
				<label for="imageName">Image Name</label>
				<input type="text" class="form-control" ng-model="model.imageName" id="imageName" required>
				<br>
				<a class="btn btn-primary btn-block" ng-click="model.createOutputJSON(model.folder1, model.folder2, model.folder3, model.imageName)">Submit</a>
			</div>
			<div class="col-md-5"></div>
		</div>
		<br/>
	</form>
</div>
<br/>
<div class="col-md-12">
	<a class="btn btn-primary btn-block" ng-click="model.logout()">Logout</a>
</div>