<div ng-controller="headerCtrl as model"> 
  <div ng-include="'header.html'"></div>
</div> 
<div class="container">
    <div class="row">
        <div class="col-md-12 buildDockerPage">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="page-title">
                        Build Docker
                    </h4>
                </div>
                <div class="col-md-6">
                    <h4 class="page-title alignRight">
                        <a class="btn btn-primary btn-bordred"
                           ng-click="model.showAllImages()">
                            <i class="fa fa-arrow-circle-left" aria-hidden="true"></i><span>List All Projects</span>
                        </a>
                    </h4>
                </div>
            </div>
            <form action="/upload" method="post" id="buildDockerForm" enctype="multipart/form-data">            
                <div class="row">
                    <div class="col-md-6">
                        <div class="card-box panel-default">
                            <div class="header-title panel-heading">
                                Please select the type of Docker Image
                            </div>
                            <div class="panel-body">
                                <div class="form-group wbdv-left-right-margin">                  
                                    <div class="radio radio-info radio-inline">
                                        <input type="radio" id="inlineRadio1" value="Notebook" ng-model="model.imageType">
                                        <label for="inlineRadio1"> Notebook </label>
                                    </div>
                                    <div class="radio radio-info radio-inline">
                                        <input type="radio" id="inlineRadio2" value="Script" ng-model="model.imageType">
                                        <label for="inlineRadio2"> Scripts </label>
                                    </div>
                                    <div class="radio radio-info radio-inline">
                                        <input type="radio" id="inlineRadio3" value="Both" ng-model="model.imageType">
                                        <label for="inlineRadio3"> Notebook & Scripts </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" ng-if="model.imageType == 'Notebook' || model.imageType == 'Both'">
                        <div class="card-box panel-default">
                            <div class="header-title panel-heading">
                                Please enter the duration in hours
                            </div>
                            <div class="panel-body">
                                <div class="form-grp">
                                    <label>Duration</label>
                                    <div class="input-group fullWidth">
                                        <input type="text" class="form-control" ng-model="model.duration" id="duration" placeholder="Duration" >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card-box panel-default">
                            <div class="header-title panel-heading">
                                Project Name
                            </div>
                            <div class="panel-body">
                                <div class="form-grp">
                                    <label>Image Name</label>
                                    <div class="input-group fullWidth">
                                        <input type="text" class="form-control" ng-model="model.imageName" id="imageName" placeholder="Image Name" >
                                    </div>
                                </div>
                                <div class="form-grp">
                                    <label>Module Name</label>
                                    <div class="input-group fullWidth">
                                        <input type="text" class="form-control" ng-model="model.moduleName" id="moduleName" placeholder="Module Name" >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card-box panel-default">
                            <div class="header-title panel-heading">
                                Project Description
                            </div>
                            <div class="panel-body">
                                <div class="form-grp">
                                    <label>Image Description</label>
                                    <div class="input-group fullWidth">
                                        <textarea rows="4" class="form-control" ng-model="model.description" id="description"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="section-title">Please select packages: </h5>
                    </div>
                    <div class="col-md-4">
                        <div class="card-box panel-default">
                            <div class="header-title panel-heading">
                                Python 2.7
                            </div>
                            <div class="panel-body">
                                <div class="checkbox" ng-repeat="x in model.py27">
                                    <input id="checkbox_{{x.name}}" type="checkbox" ng-model="model.folder1[x.name]" value="x.name">
                                    <label for="checkbox_{{x.name}}">
                                        {{x.name}}
                                        <span>(<i><strong>version:</strong> {{x.version}}</i>)</span>
                                    </label>
                                </div>
                                <div class="addNewButton">
                                    <button type="button" id="addNewBtn" class="btn btn-primary btn-bordred waves-effect w-md waves-light m-b-5 collapsed" data-toggle="collapse" data-target="#addSection"><span>Add New Package</span><i class="fa fa-plus m-r-5"></i></button>
                                    <div class="collapse addSection" id="addSection">
                                        <div class="form-grp">
                                            <div class="input-group fullWidth">
                                                <input type="text" class="form-control" ng-model="model.packageName1" id="packageName" placeholder="Package Name" >
                                            </div>
                                        </div>
                                        <div class="form-grp">
                                            <div class="input-group fullWidth">
                                                <input type="text" class="form-control" ng-model="model.packageCommand1" id="packageCommand" placeholder="Package Command" >
                                            </div>
                                        </div>
                                        <div class="form-grp">
                                            <div class="input-group fullWidth">
                                                <input type="text" class="form-control" ng-model="model.packageVersion1" id="packageVersion" placeholder="Package Version" >
                                            </div>
                                        </div>
                                        <a class="btn btn-primary btn-bordred addPackageBtn"
                                           ng-click="model.addPackage('python2.7',model.packageName1,model.packageCommand1,model.packageVersion1)">
                                            Add Package
                                        </a>
                                        <p class="successMessage">{{model.messagePackageAdded}}</p>
                                        <p class="errorMessage">{{model.errorPackageAdded}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-box panel-default">
                            <div class="header-title panel-heading">
                                Python 3.5
                            </div>
                            <div class="panel-body">
                                <div class="checkbox" ng-repeat="y in model.py35">
                                    <input id="checkbox2_{{y.name}}" type="checkbox" ng-model="model.folder2[y.name]" value="y.name">
                                    <label for="checkbox2_{{y.name}}">
                                        {{y.name}}
                                        <span>(<i><strong>version:</strong> {{y.version}}</i>)</span>
                                    </label>
                                </div>
                                <div class="addNewButton">
                                    <button type="button" id="addNewBtn" class="btn btn-primary btn-bordred waves-effect w-md waves-light m-b-5 collapsed" data-toggle="collapse" data-target="#addSection2"><span>Add New Package</span><i class="fa fa-plus m-r-5"></i></button>
                                    <div class="collapse addSection" id="addSection2">
                                        <div class="form-grp">
                                            <div class="input-group fullWidth">
                                                <input type="text" class="form-control" ng-model="model.packageName2" id="packageName" placeholder="Package Name" >
                                            </div>
                                        </div>
                                        <div class="form-grp">
                                            <div class="input-group fullWidth">
                                                <input type="text" class="form-control" ng-model="model.packageCommand2" id="packageCommand" placeholder="Package Command" >
                                            </div>
                                        </div>
                                        <div class="form-grp">
                                            <div class="input-group fullWidth">
                                                <input type="text" class="form-control" ng-model="model.packageVersion2" id="packageVersion" placeholder="Package Version" >
                                            </div>
                                        </div>
                                        <a class="btn btn-primary btn-bordred addPackageBtn"
                                           ng-click="model.addPackage('python3.5',model.packageName2,model.packageCommand2,model.packageVersion2)">
                                            Add Package
                                        </a>
                                        <p class="successMessage">{{model.messagePackageAdded}}</p>
                                        <p class="errorMessage">{{model.errorPackageAdded}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-box panel-default">
                            <div class="header-title panel-heading">
                                R
                            </div>
                            <div class="panel-body">
                                <div class="checkbox" ng-repeat="z in model.r">
                                    <input id="checkbox3_{{z.name}}" type="checkbox" ng-model="model.folder3[z.name]" value="z.name">
                                    <label for="checkbox3_{{z.name}}">
                                        {{z.name}}
                                        <span>(<i><strong>version:</strong> {{z.version}}</i>)</span>
                                    </label>
                                </div>
                                <div class="addNewButton">
                                    <button type="button" id="addNewBtn" class="btn btn-primary btn-bordred waves-effect w-md waves-light m-b-5 collapsed" data-toggle="collapse" data-target="#addSection3"><span>Add New Package</span><i class="fa fa-plus m-r-5"></i></button>
                                    <div class="collapse addSection" id="addSection3">
                                        <div class="form-grp">
                                            <div class="input-group fullWidth">
                                                <input type="text" class="form-control" ng-model="model.packageName3" id="packageName" placeholder="Package Name" >
                                            </div>
                                        </div>
                                        <div class="form-grp">
                                            <div class="input-group fullWidth">
                                                <input type="text" class="form-control" ng-model="model.packageCommand3" id="packageCommand" placeholder="Package Command" >
                                            </div>
                                        </div>
                                        <div class="form-grp">
                                            <div class="input-group fullWidth">
                                                <input type="text" class="form-control" ng-model="model.packageVersion3" id="packageVersion" placeholder="Package Version" >
                                            </div>
                                        </div>
                                        <a class="btn btn-primary btn-bordred addPackageBtn"
                                           ng-click="model.addPackage('R',model.packageName3,model.packageCommand3,model.packageVersion3)">
                                            Add Package
                                        </a>
                                        <p class="successMessage">{{model.messagePackageAdded}}</p>
                                        <p class="errorMessage">{{model.errorPackageAdded}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 marginBottom30">
                        <div class="checkbox">
                            <input id="customImport" type="checkbox" data-toggle="collapse" data-target="#customImportSection">
                            <label for="customImport">
                                Would you like to import your own custom files? <i>(only .zip files)</i>
                            </label>
                        </div>
                        <div id="customImportSection" class="card-box panel-default collapse">
                            <div class="header-title panel-heading">
                                Import Custom File
                            </div>
                            <div class="panel-body">
                                <div class="col-md-6">
                                    <input id="importFile" class="form-control" placeholder="Choose File" disabled="disabled" />
                                    <div class="fileUpload btn btn-primary">
                                        <span>Upload</span>
                                        <input id="importBtn" type="file" class="upload" accept="application/zip, application/gzip" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-grp">
                                        <div class="input-group fullWidth">
                                            <input type="text" class="form-control" ng-model="model.location" id="location" placeholder="Specify the Location" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card-box panel-default">
                            <div class="header-title panel-heading">
                                Additional installations
                            </div>
                            <div class="panel-body">
                                <div class="form-grp">
                                    <label>Git Repository URL</label>
                                    <div class="input-group">
                                        <input type="text" name="gitRepo[]" class="form-control" placeholder="Git Repo...">
                                        <span class="input-group-btn">
                                    <button class="btn btn-secondary addRepo" type="button"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                </span>
                                    </div>
                                </div>
                                <div class="form-grp hide" id="gitRepoTemplate">
                                    <label>Git Repository URL</label>
                                    <div class="input-group">
                                        <input type="text" name="gitRepo[]" class="form-control" placeholder="Git Repo...">
                                        <span class="input-group-btn">
                                    <button class="btn btn-secondary removeRepo" type="button"><i class="fa fa-minus" aria-hidden="true"></i></button>
                                </span>
                                    </div>
                                </div>
                                <br/>
                                <div class="form-grp">
                                    <label>Apt Get</label>
                                    <div class="input-group">
                                        <input type="text" name="aptget[]" class="form-control" placeholder="Package Name">
                                        <span class="input-group-btn">
                                    <button class="btn btn-secondary addAptget" type="button"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                </span>
                                    </div>
                                </div>
                                <div class="form-grp hide" id="aptgetTemplate">
                                    <label>Apt Get</label>
                                    <div class="input-group">
                                        <input type="text" name="aptget[]" class="form-control" placeholder="Package Name">
                                        <span class="input-group-btn">
                                    <button class="btn btn-secondary removeAptget" type="button"><i class="fa fa-minus" aria-hidden="true"></i></button>
                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card-box panel-default">
                            <div class="header-title panel-heading">
                                Datasets Upload
                            </div>
                            <div class="panel-body">
                                <!-- <input type="file" ng-model="files" multiple/> -->
                                <!-- <div class="dropzone" options="dzOptions" callbacks="dzCallbacks" methods="dzMethods" ng-dropzone></div> -->
                                <!-- <button ng-click = "uploadFile()">upload me</button> -->
                                <!-- <input type="file" name="userPhoto" /> -->
                                <input id="multipleFile" class="form-control" placeholder="Choose File" disabled="disabled">
                                <div class="fileUpload btn btn-primary">
                                    <span>Upload</span>
                                    <input id="multipleUpload" type="file" name="userPhoto" class="upload" multiple />
                                </div>


                                <!-- <button ng-click = "uploadFile()">upload me</button> -->
                            </div>
                        </div>
                        <div class="card-box panel-default">
                            <div class="header-title panel-heading">
                                Package Selection File
                            </div>
                            <div class="panel-body">
                                <p>Upload a JSON file to specify the packages to include in the Docker Image.</p>
                                <!-- <input type="file" ng-model="file" class="btn btn-primary btn-rounded" /> -->
                                <input id="uploadFile" class="form-control" placeholder="Choose File" disabled="disabled" />
                                <div class="fileUpload btn btn-primary">
                                    <span>Upload</span>
                                    <input id="uploadBtn" type="file" name="userPhoto" class="upload" />
                                </div>
                                <!-- <button ng-click = "uploadFile()">upload me</button> -->
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="col-md-4">
                            <!--<label for="imageName">Image Name</label>-->
                            <!-- <input type="text"
                       class="form-control"
                       ng-model="model.imageName"
                       id="imageName"
                       placeholder="Image Name"
                       > -->
                        </div>
                        <div class="col-md-4 alignCenter">
                            <button type="submit" class="btn btn-primary btn-bordred" ng-click="model.createDockerImage(model.folder1, model.folder2, model.folder3, model.imageName, model.description, model.moduleName, model.duration, model.imageType, model.location);">Create Docker Image</button>
                        </div>
                        <div class="col-md-4">
                            <!-- <input type="submit" class="btn btn-primary btn-block" value="Upload Image" name="submit" ng-click="model.upload()" /> -->
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <br>
                <!-- <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <a class="btn btn-danger btn-block" ng-click="model.logout()">Logout</a>
            </div>
            <div class="col-md-2"></div>
        </div> -->
                <!--<div class="row">-->
                <!--<div class="col-md-3">-->
                <!--<a class="btn btn-primary btn-block"-->
                <!--ng-click="model.createDockerImage(model.folder1, model.folder2, model.folder3, model.imageName)">-->
                <!--Create Docker Image-->
                <!--</a>-->
                <!--</div>-->
                <!--<div class="col-md-3">-->
                <!--<a class="btn btn-primary btn-block"-->
                <!--ng-click="model.uploadToDockerHub()">-->
                <!--Upload Docker Image to DockerHub-->
                <!--</a>-->
                <!--</div>-->
                <!--<div class="col-md-3">-->
                <!--<a class="btn btn-primary btn-block"-->
                <!--ng-click="model.showAllImages()">-->
                <!--List All Images-->
                <!--</a>-->
                <!--</div>-->
                <!--<div class="col-md-3">-->
                <!--<a class="btn btn-primary btn-block" ng-click="model.logout()">Logout</a>-->
                <!--</div>-->
                <!--</div>-->
                <br/>
            </form>
        </div>
    </div>
</div>
<div ng-controller="footerCtrl as model"> 
  <div ng-include="'footer.html'"></div>
</div>  
<script src="javascripts/filename-change.js"></script>
<script src="javascripts/add-install.js"></script>
