<div class="container">
    <div class="row">
        <div class="col-md-12 buildDockerPage">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="page-title">
                        List of Projects
                    </h4>
                </div>
                <div class="col-md-6">
                    <h4 class="page-title alignRight">
                        <a class="btn btn-primary btn-bordred"
                           href="/#/instructor/buildDocker">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            <span>Build Docker</span>
                        </a>
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-responsive m-0">
                        <thead>
                            <tr>
                                <th>Project Name</th>
                                <th colspan="4">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat = "image in model.images.data">
                                <td>{{image.imageName}}</td>
                                <td>
                                    <a class="btn btn-primary btn-rounded btn-bordred"
                                       ng-click="model.uploadToDockerHub(image.imageName)">
                                        <i class="fa fa-docker"></i>
                                        <span>Publish to DockerHub</span>
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-primary btn-rounded btn-bordred"
                                       ng-click="model.uploadToS3(image.imageName)">
                                       <i class="fa fa-amazon" aria-hidden="true"></i>
                                        <span>Publish to S3</span>
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-primary btn-rounded btn-bordred"
                                       ng-click="">
                                        <i class="fa fa-github" aria-hidden="true"></i>
                                        <span>Publish to GitHub</span>
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-primary btn-rounded btn-bordred"
                                       ng-click="">
                                       <i class="fa fa-download" aria-hidden="true"></i>
                                        <span>Download</span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="javascripts/dynamic-height.js"></script>
