<div ng-controller="headerCtrl as model"> 
  <div ng-include="'header.html'"></div>
</div> 
<div class="container availablePrjList">
    <div class="row">
        <div class="col-md-12 buildDockerPage">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="page-title">
                        List of Projects
                    </h4>
                </div>
                <div class="col-md-4">
                    <!-- <table class="table table-responsive m-0 palette">
                        <thead>
                            <th>Docker Hub</th>
                            <th>Amazon S3</th>
                            <th>GitHub</th>
                            <th>Download / Export</th>
                        </thead>
                        <tbody>
                            <td><i class="fa fa-docker"></i></td>
                            <td><i class="fa fa-amazon" aria-hidden="true"></i></td>
                            <td><i class="fa fa-github" aria-hidden="true"></i></td>
                            <td><i class="fa fa-download" aria-hidden="true"></i></td>
                        </tbody>
                    </table> -->
                    <!-- Search -->
                    <p class="page-title">
                        <input type="search" name="search" placeholder="Search..." ng-model="model.searchValue">
                    </p>
                </div>
                <div class="col-md-4">
                    <h4 class="page-title alignRight">
                        <a class="btn btn-primary btn-bordred"
                           href="/#/instructor/buildDocker">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            <span>Build Docker</span>
                        </a>
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- Table View -->
                    <!-- <table class="table table-responsive m-0 projectsList">
                        <thead>
                            <tr>
                                <th>Project ID</th>
                                <th>Project Name</th>
                                <th>Project Description</th>
                                <th colspan="4">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat = "image in model.images.data">
                                <td>{{$index+1}}</td>
                                <td>{{image.imageName}}<span><a class="btn btn-primary btn-rounded btn-bordred" ng-click="model.viewDockerImage(image.imageName); model.openModal('imageModal');">View Image</a></span></td>
                                <td>{{image.description}}</td>
                                <td>
                                    <a class="btn btn-primary btn-rounded btn-bordred"
                                       ng-click="model.uploadToDockerHub(image.imageName)">
                                        <i class="fa fa-docker"></i>
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-primary btn-rounded btn-bordred"
                                       ng-click="">
                                        <i class="fa fa-amazon" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-primary btn-rounded btn-bordred"
                                       ng-click="">
                                        <i class="fa fa-github" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-primary btn-rounded btn-bordred"
                                       ng-click="">
                                        <i class="fa fa-download" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table> -->

                    <!-- List View -->
                    <div class="projectsListView" dir-paginate="image in model.images.data | filter: model.searchValue | itemsPerPage:10">
                    <!-- <div class="projectsListView" dir-paginate="image in model.images.data | itemsPerPage:10"> -->
                        <div class="col-md-4 noPadLeft">
                            <img src="images/dockerImg.jpg">
                        </div>
                        <div class="col-md-8">
                            <h3 class="cleafix projectTitle">
                                <!-- <em>{{$index+1}}</em> -->
                                {{image.imageName}}
                                <span class="shiftRight"><a class="btn btn-danger btn-rounded btn-bordred" ng-click="model.viewDockerImage(image.imageName); model.openModal('imageModal');">View Image</a></span>
                            </h3>
                            <p>
                                {{image.description}}
                            </p>
                            <p>
                                <span><i class="fa fa-clock-o" aria-hidden="true"></i> Duration: {{image.duration / 3600}} Hours </span>
                                <span><i class="fa fa-star" aria-hidden="true"></i> Credits: {{image.duration / 3600 | number: 0}} </span>
                                <span><i class="fa fa-play" aria-hidden="true"></i> Videos: 7 Videos </span>
                                <span><i class="fa fa-file" aria-hidden="true"></i> Files: 5 Files </span>
                            </p>
                            <p>
                                <a class="btn btn-primary btn-rounded btn-bordred"
                                   ng-click="model.uploadToDockerHub(image.imageName)">
                                    <span><i class="fa fa-docker"></i> Publish to Docker</span>
                                </a>
                                <a class="btn btn-primary btn-rounded btn-bordred"
                                   ng-click="">
                                    <span><i class="fa fa-amazon" aria-hidden="true"></i> Publish to S3</span>
                                </a>
                                <a class="btn btn-primary btn-rounded btn-bordred"
                                   ng-click="">
                                    <span><i class="fa fa-github" aria-hidden="true"></i> Publish to GitHub</span>
                                </a>
                                <a class="btn btn-primary btn-rounded btn-bordred"
                                   ng-click="">
                                    <span><i class="fa fa-download" aria-hidden="true"></i> Download / Export </span>
                                </a>
                            </p>
                        </div>
                    </div>
                    <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-controller="footerCtrl as model"> 
  <div ng-include="'footer.html'"></div>
</div>  
<script src="javascripts/dynamic-height.js"></script>

<modal id="imageModal">
    <div class="modal">
        <div class="modal-body">
            <div class="closeIcon">
                <button ng-click="model.closeModal('imageModal');"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
            </div>
            <div id="mydiv">
                <h1>Docker File</h1>
                <p>
                    {{model.imageDetails}}
                </p>
            </div>
        </div>
    </div>
    <div class="modal-background"></div>
</modal>
