<div class="container-fluid">
    <h2>Docker Images : </h2><br>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat = "image in model.images.data">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    {{image.imageName}}
                </div>
                <div class="col-md-4">
                    <a class=""
                       ng-click="model.uploadToDockerHub(image.imageName)">
                        Upload to DockerHub
                    </a>
                </div>
                <div class="col-md-2"></div>
            </div>
        </li>
    </ul>
</div>