<!--<script>-->
<!--$(document).ready(function(){-->
<!--$("#button").click(function () {-->
<!--var url = "https://en.wikipedia.org";-->
<!--$("#frame").attr("src", url);-->
<!--});-->
<!--});-->
<!--</script>-->
<div ng-controller="headerCtrl as model"> 
  <div ng-include="'header.html'"></div>
</div> 
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="page-title">
                        List of Projects
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-responsive m-0">
                <thead>
                    <tr>
                        <th>Project ID</th>
                        <th>Project Name</th>
                        <th>Project Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="image in model.images.data">
                        <td>{{$index+1}}</td>
                        <td>{{image.imageName}}</td>
                        <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</td>
                        <td>
                            <a class="btn btn-primary btn-rounded btn-bordred" ng-click=" model.runLab(image.imageName); model.openModal('startModal');">
                                Start Lab
                            </a>
                        </td>
                        <!-- <td>
                            <a class="btn btn-primary btn-rounded btn-bordred" ng-click="model.stopLab(image.imageName)">
                                Stop Lab
                            </a>
                        </td> -->                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<modal id="startModal">
    <div class="modal">
        <div class="modal-body">
            <div class="closeIcon">
                <button ng-click="model.closeModal('startModal');"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
            </div>
            <div id="mydiv">
                <!--<input id="url" type="text" value="https://en.wikipedia.org"/>-->
                <iframe id="frame" src="" width="100%" height="500" style="border: none">
                </iframe>
            </div>
            <div class="closeBtn">                
                <a class="btn btn-primary btn-rounded btn-bordred" ng-click="model.stopLab(image.imageName)">
                    Stop Lab
                </a>
            </div>
        </div>
    </div>
    <div class="modal-background"></div>
</modal>
<div ng-controller="footerCtrl as model"> 
  <div ng-include="'footer.html'"></div>
</div> 
<!--<button id="button">Load</button>-->
<!--<a ng-href="" ng-click="redirectToGoogle()">Hello</a>-->
