<!--<script>-->
<!--$(document).ready(function(){-->
<!--$("#button").click(function () {-->
<!--var url = "https://en.wikipedia.org";-->
<!--$("#frame").attr("src", url);-->
<!--});-->
<!--});-->
<!--</script>-->
<div ng-controller="headerCtrl as model"> 
  <div ng-include="'header.html'"></div>
</div> 
<div class="container availablePrjList">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="page-title">
                        List of Projects
                    </h4>
                </div>
                <div class="col-md-4">
                    <p class="page-title">
                        <input type="search" name="search" placeholder="Search Project" ng-model="model.searchValue">
                    </p>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- Table View -->
            <!--
            <table class="studentListTable table table-responsive m-0">
                <thead>
                    <tr>
                        <th>Project ID</th>
                        <th>Project Name</th>
                        <th>Project Description</th>
                        <th colspan="3">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="image in model.images.data">
                        <td>{{$index+1}}</td>
                        <td>{{image.imageName}}</td>
                        <td>{{image.description}}</td>
                        <td ng-if="image.imageType == 'Notebook' || image.imageType == 'Both'">
                            <a id="ntb_{{$index+1}}" class="btn btn-primary btn-rounded btn-bordred"
                               ng-click="model.runLab(image.imageName, $index+1, image.moduleName)">
                                Run Notebook -->
                                <!-- <spinner name="booksSpinner" img-src="images/spinner.gif" class="spinnerImg"></spinner> -->
                            <!-- </a>
                        </td>
                        <td ng-if="image.imageType == 'Script' || image.imageType == 'Both'">
                            <a id="scr_{{$index+1}}" class="btn btn-primary btn-rounded btn-bordred"
                               ng-click="model.runScriptLab(image.imageName, $index+1, image.moduleName)">
                                Run Script -->
                                <!-- <spinner name="booksSpinner" img-src="images/spinner.gif" class="spinnerImg"></spinner> -->
                            <!-- </a>
                        </td>
                        <td>
                            <a class="btn btn-default btn-rounded btn-bordred" ng-click="" disabled>
                                Schedule Script
                            </a>
                        </td> -->
                        <!-- <td>
                            <a class="btn btn-primary btn-rounded btn-bordred startLab" ng-click=" model.runLab(image.imageName);">
                                Start Lab With AMI
                            </a>
                        </td> -->
                        <!-- <td>
                            <a class="btn btn-primary btn-rounded btn-bordred startLab" ng-click=" model.runLab(image.imageName);">
                                Start Lab With Kubernetes
                            </a>
                        </td> -->
                        <!-- <td>
                            <a class="btn btn-primary btn-rounded btn-bordred" ng-click="model.stopLab(image.imageName)">
                                Stop Lab
                            </a>
                        </td> -->                        
                    <!-- </tr>
                </tbody>
            </table>
            -->

            <!-- List View -->
            <div class="projectsListView" dir-paginate="image in model.images.data | filter: model.searchValue | itemsPerPage:10">
                <div class="col-md-4 noPadLeft">
                    <img src="images/dockerImg.jpg">
                </div>
                <div class="col-md-8">
                    <h3>
                        <!-- <em>{{$index+1}}</em> -->
                        {{image.imageName}}
                    </h3>
                    <p>
                        {{image.description}}
                    </p>
                    <p>
                        <span><i class="fa fa-clock-o" aria-hidden="true"></i> Duration: {{image.duration / 3600}} Hours </span>
                        <span><i class="fa fa-star" aria-hidden="true"></i> Credits: {{image.duration / 3600 | number: 0}} </span>
                        <span><i class="fa fa-play" aria-hidden="true"></i> Videos: 7 Videos </span>
                        <span><i class="fa fa-file" aria-hidden="true"></i> Files: 5 Files </span>
                    </p>
                    <p>
                        <button data-toggle="collapse" data-target="#box_{{$index+1}}" class="btn btn-info btn-rounded btn-bordred collapsed">Add to Sandbox</button>
                        <button class="btn btn-info btn-rounded btn-bordred" ng-click="model.openTerminal(image.imageName, $index+1, image.moduleName)">Open Terminal</button>
                    </p>
                    <div id="box_{{$index+1}}" class="box collapse">
                        <form method="post" name="runDockerImage">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Please select the platform to run the Docker Image</p>
                                    <div class="form-group wbdv-left-right-margin">                  
                                        <div class="radio radio-info radio-inline">
                                            <input type="radio" id="inlineRadio1_{{$index+1}}" value="Amazon Machine Image" name="pType{{$index+1}}" ng-model="model.platformType[$index]" required>
                                            <label for="inlineRadio1_{{$index+1}}"> Amazon Machine Image </label>
                                        </div>
                                        <div class="radio radio-info radio-inline">
                                            <input type="radio" id="inlineRadio2_{{$index+1}}" value="Google Cloud Platform" name="pType{{$index+1}}" ng-model="model.platformType[$index]" required>
                                            <label for="inlineRadio2_{{$index+1}}"> Google Cloud Platform </label>
                                        </div>
                                    </div>
                                    <p>What would you like to do?</p>
                                    <div class="form-group wbdv-left-right-margin">                  
                                        <select id="select_{{$index+1}}" class="form-control" ng-init="model.likeType[$index]='Deploy'" ng-model="model.likeType[$index]" required>
                                            <option value="Run Notebook" ng-if="image.imageType == 'Notebook' || image.imageType == 'Both'">Run Notebook</option>
                                            <option value="Run Script" ng-if="image.imageType == 'Script' || image.imageType == 'Both'">Run Script</option>
                                            <option value="Schedule Script" ng-if="image.imageType == 'Script' || image.imageType == 'Both'">Schedule Script</option>
                                            <option value="Deploy">Deploy</option>
                                            <option value="Run R Studio">Run R Studio</option>
                                        </select>
                                    </div>
                                    <div ng-if="model.platformType[$index] == 'Amazon Machine Image' && model.likeType[$index] == 'Run Notebook'">
                                        <button type="submit" id="ntb_{{$index+1}}" class="btn btn-info btn-bordred" ng-click="runDockerImage.$valid && model.runLab(image.imageName, $index+1, image.moduleName)">Submit</button>
                                    </div>
                                    <div ng-if="model.platformType[$index] == 'Amazon Machine Image' && model.likeType[$index] == 'Run Script'">
                                        <button type="submit" id="scr_{{$index+1}}" class="btn btn-info btn-bordred" ng-click="runDockerImage.$valid && model.runScriptLab(image.imageName, $index+1, image.moduleName)">Submit</button>
                                    </div>
                                    <div ng-if="model.platformType[$index] == 'Amazon Machine Image' && model.likeType[$index] == 'Schedule Script'">
                                        <button type="submit" class="btn btn-info btn-bordred" ng-click="runDockerImage.$valid">Submit</button>
                                    </div>
                                    <div ng-if="model.platformType[$index] == 'Amazon Machine Image' && model.likeType[$index] == 'Deploy'">
                                        <button type="submit" class="btn btn-info btn-bordred" ng-click="runDockerImage.$valid">Submit</button>
                                    </div>
                                    <div ng-if="model.platformType[$index] == 'Google Cloud Platform' && model.likeType[$index] == 'Run Notebook'">
                                        <button type="submit" id="ntb_{{$index+1}}" class="btn btn-info btn-bordred" ng-click="runDockerImage.$valid && model.runLab(image.imageName, $index+1, image.moduleName)">Submit</button>
                                    </div>
                                    <div ng-if="model.platformType[$index] == 'Google Cloud Platform' && model.likeType[$index] == 'Run Script'">
                                        <button type="submit" id="scr_{{$index+1}}" class="btn btn-info btn-bordred" ng-click="runDockerImage.$valid && model.runScriptLab(image.imageName, $index+1, image.moduleName)">Submit</button>
                                    </div>
                                    <div ng-if="model.platformType[$index] == 'Google Cloud Platform' && model.likeType[$index] == 'Schedule Script'">
                                        <button type="submit" class="btn btn-info btn-bordred" ng-click="runDockerImage.$valid">Submit</button>
                                    </div>
                                    <div ng-if="model.platformType[$index] == 'Google Cloud Platform' && model.likeType[$index] == 'Deploy'">
                                        <button type="submit" class="btn btn-info btn-bordred" ng-click="runDockerImage.$valid">Submit</button>
                                    </div>
                                    <div ng-if="model.platformType[$index] == 'Google Cloud Platform' && model.likeType[$index] == 'Run R Studio'">
                                        <button type="submit" class="btn btn-info btn-bordred" ng-click="runDockerImage.$valid && model.runRStudio()">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
        </div>
    </div>
</div>

<modal id="startModal">
    <div class="modal">
        <div class="modal-body">
            <div class="closeIcon">
                <button ng-click="model.closeModal('startModal');"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
            </div>
            <div id="mydiv">
                <!--<input id="url" type="text" value="https://en.wikipedia.org"/>-->
                <iframe id="frame" src="" width="100%" height="500" style="border: none">
                </iframe>
            </div>
            <div class="closeBtn">                
                <a id="stopLab" class="btn btn-primary btn-rounded btn-bordred" ng-click="model.stopLab(model.moduleName)">
                    Stop Lab
                </a>
                <span id="hm_timer"></span>
                <button id="pauseBtnhms" class="hide">Pause</button>

            </div>
        </div>
    </div>
    <div class="modal-background"></div>
</modal>
<modal id="openTerminal">
    <div class="modal">
        <div class="modal-body">
            <div class="closeIcon">
                <button ng-click="model.closeModal('openTerminal');"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
            </div>
            <div id="mydiv">
                <!--<input id="url" type="text" value="https://en.wikipedia.org"/>-->
                <iframe id="frame" src="http://34.211.179.108:7010/" width="100%" height="500" style="border: none">
                </iframe>
            </div>
        </div>
    </div>
    <div class="modal-background"></div>
</modal>
<modal id="timeModal">
    <div class="modal">
        <div class="modal-body">
            <div class="closeIcon">
                <button id="closeTimeModal" ng-click="model.closeModal('timeModal');"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
            </div>
            <div id="mydiv">
                <h4>Heya! You just have 5 more minutes before the session ends. Would you like to continue?</h4>
                <div class="buttons">
                    <a id="addTime" href="" class="btn btn-primary btn-rounded btn-bordred">Yes</a>
                    <a id="doNotAddTime" href="" class="btn btn-primary btn-rounded btn-bordred">No</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-background"></div>
</modal>
<div ng-controller="footerCtrl as model"> 
  <div ng-include="'footer.html'"></div>
</div>
<!--<button id="button">Load</button>-->
<!--<a ng-href="" ng-click="redirectToGoogle()">Hello</a>-->
