<div ng-controller="headerCtrl as model"> 
  <div ng-include="'header.html'"></div>
</div> 
<div id="backgroundImage" class="rc-background-login">
    <div class="row rc-login-top-margin">
        <div class="col-md-4"></div>
        <div class="col-md-4 rc-margin loginBox card-box">
            <h2 class="text-center">Sign In</h2>
            <br>
            <form name = "loginpage">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input ng-model="model.user.username"
                           type="text"
                           class="form-control"
                           id="username"
                           placeholder="Username"
                           autofocus
                           required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input ng-model="model.user.password"
                           type="password"
                           class="form-control"
                           id="password"
                           placeholder="Password"
                           required>
                </div>
                <div>
                    <input class="btn btn-block btn-primary btn-bordered"
                           type="submit"
                           ng-click="loginpage.$valid && model.login(model.user)"
                           value="Login">
                </div><br>
                <div class="additionalLinks clearfix">
                  <a class="wbdv-left-right-margin pull-left wbdv-font-color-white" href="#/reset">Forgot Password?</a>
                  <a class="wbdv-left-right-margin pull-right wbdv-font-color-white" href="#/register">Don't have an account?</a>
                </div>

                <p class="errorMessage loginerrorMessage">{{model.error}}</p>
                <p class="errorMessage loginerrorMessage">{{model.userNotFoundError}}</p>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<div ng-controller="footerCtrl as model"> 
  <div ng-include="'footer.html'"></div>
</div>
