<div ng-controller="headerCtrl as model"> 
  <div ng-include="'header.html'"></div>
</div> 
<div id="backgroundImage" class="rc-background-login">
    <div class="row rc-login-top-margin">
        <div class="col-md-4"></div>
        <div class="col-md-4 rc-margin loginBox card-box">
            <h2 class="text-center">Reset Password</h2>
            <br>
            <form name = "loginpage">
                <div class="form-group">
                    <label for="email">Email ID</label>
                    <input ng-model="model.user.email"
                           type="email"
                           class="form-control"
                           id="email"
                           placeholder="Email ID"
                           autofocus
                           required>
                </div>
                <div>
                    <input class="btn btn-block btn-primary btn-bordered"
                           type="submit"
                           ng-click="loginpage.$valid && model.login(model.user)"
                           value="Login">
                </div><br>
                <div class="additionalLinks">
                  <a class="wbdv-left-right-margin pull-left wbdv-font-color-white" href="#/login">Go Back to Login</a>
                  <a class="wbdv-left-right-margin pull-right wbdv-font-color-white" href="#/register">Don't have an account?</a>
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<div ng-controller="footerCtrl as model"> 
  <div ng-include="'footer.html'"></div>
</div>
