<div ng-controller="headerCtrl as model"> 
  <div ng-include="'header.html'"></div>
</div> 
<div class="container">
    <div class="row">
        <div class="col-md-12 buildDockerPage">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="page-title">
                        List of Users
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-controller="footerCtrl as model"> 
  <div ng-include="'footer.html'"></div>
</div>