<div ng-controller="headerCtrl as model"> 
  <div ng-include="'header.html'"></div>
</div> 
<div id="backgroundImage" class="container availableUserList">
    <div class="row">
        <div class="col-md-12 buildDockerPage">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="page-title">
                        List of Users
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- Table View -->
                    <table class="table table-responsive m-0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Credits</th>
                                <th>Expiry Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat = "user in model.users.data">
                                <td>{{user.firstName}} {{user.lastName}}</td>
                                <td ng-if="user.userType == 'STUDENT'">{{user.noOfCredits}}</td>
                                <td ng-if="user.userType != 'STUDENT'">-</td>
                                <td ng-if="user.userType == 'STUDENT'">{{user.expiryDate | date:'MMMM d, y'}}</td>
                                <td ng-if="user.userType != 'STUDENT'">-</td>
                                <td ng-if="user.userType == 'STUDENT'">
                                    <span><a class="btn btn-primary btn-rounded" ng-click="model.openModal('userModal', user.noOfCredits, user.expiryDate, user._id, user.email);"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit User</a></span>
                                </td>
                                <td ng-if="user.userType != 'STUDENT'">
                                    -
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- List View -->
                    <!-- <div class="listUsersView" ng-repeat="user in model.users.data"> -->
                    <!-- <div class="projectsListView" dir-paginate="image in model.images.data | itemsPerPage:10"> -->
                        <!-- <div class="col-md-4 noPadLeft">
                            <img src="images/dockerImg.jpg">
                        </div>
                        <div class="col-md-8">
                            <h3 class="cleafix projectTitle">
                                {{user.firstName}} {{user.lastName}} 
                                <span class="shiftRight" ng-if="user.userType == 'STUDENT'"><a class="btn btn-danger btn-rounded btn-bordred" ng-click="">Edit User</a></span>
                            </h3>
                            <p>
                                <span><strong>Credits:</strong> {{user.noOfCredits}}</span>
                            </p>
                            <p>
                                <span><strong>Expiry Date:</strong> {{user.expiryDate | date:'MMMM d, y'}}</span>
                            </p>
                        </div>
                    </div>
                    <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-controller="footerCtrl as model"> 
  <div ng-include="'footer.html'"></div>
</div>
<modal id="userModal">
    <div class="modal">
        <div class="modal-body">
            <div class="closeIcon">
                <button ng-click="model.closeModal('userModal')"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
            </div>
            <div id="mydiv">
                <div class="container">
            	<h1>Update User Details</h1>
            	<form name="userUpdate" method="post">
            		<div class="form-grp">
                        <label>Credits</label>
                        <div class="input-group fullWidth">
                            <input type="number" class="form-control" ng-model="model.credits" placeholder="Credits" step="1" min="1">
                        </div>
                    </div>
                    <!-- {{model.credits}}<br/> -->
                    <div class="form-grp">
                        <label>Expiry Date</label>
                        <div class="input-group fullWidth">
                            <input type="date" class="form-control" ng-model="model.newDate" placeholder="Expiry Date">
                        </div>
                    </div>
                    <br/>
                    <input type="hidden" ng-model="model.userId" value="{{model.userId}}">
                    <input type="hidden" ng-model="model.email" value="{{model.email}}">
                    <input type="hidden" ng-model="model.currentEmail" value="{{model.currentEmail}}">
                    <div class="form-grp">
                        <div class="row">
                        <div class="col-md-3">
			            <input class="btn btn-block btn-primary btn-bordered"
			                   type="submit"
			                   ng-click="model.updateUserDetails(model.credits, model.newDate, model.userId); model.sendmail(model.email, model.credits, model.newDate, model.currentEmail);"
			                   value="Update">
                        </div>
                        <div class="col-md-3">
                        <button type="button" class="btn btn-block btn-primary btn-bordered"
                               ng-click="model.closeModal('userModal')">Cancel</button> 
                        </div>
                        </div>
			        </div>
			        <div>
			        	<p class="successMessage">{{model.success}}</p>
			        </div>
            	</form>
                </div>
                <!-- {{model.expiryDate}}<br/> -->
                <!-- {{model.formatDate}}<br/>
                {{model.newDate}}<br/> -->
                <!-- {{model.expiryDate | date:'MMMM d, y'}} -->
            </div>
        </div>
    </div>
    <div class="modal-background"></div>
</modal>
